.body{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.resultado {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: 325px;
    background-color: brown;
}